{% extends "translation_portuguese/base.html" %}

<!DOCTYPE html>

<html>
    <head>
        {% block title %}{{ title }}{% endblock %}
    </head>

    <body>
        {% block content %}
        <div>
            <h2>Problemas</h1>
            <p>A tabela de problemas mostra os problemas do 1 até o {{ quantidade_problemas }}. Se
            você gostaria de ir direto aos últimos 10 problemas publicados vá para <a
                href="/recentes">Problemas recentes</a>.</p>

            <p>Clique na descrição/título do problema para ver mais detalhes e submeter sua resposta.</p>
            <div>
                <ul>
                    {% for index in index_list %}
                    <li><a href="{% url 'archives' index %}" title="Ir à página {{ index }}">{{ index }}</a></li>
                    {% endfor %}
                </ul>

                <span>
                    Ir para o problema: <input onkeypress="if (event.keyCode == 13) location.href='problema/'+this.value;" type="text"></input>
                </span>
            </div>

            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Descrição / Título</th>
                        <th>Resolvido por</th>
                    </tr>
                    {% for problem in problems %}
                    <tr>
                        <td>{{ problem.number }}</td>
                        <td><a href="{% url 'problem' problem.number %}">{{ problem.name }}</a></td>
                        <td>{{ problem.solved_by }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <ul>
                    {% for index in index_list %}
                    <li><a href="{% url 'archives' index %}" title="Ir à página {{ index }}">{{ index }}</a></li>
                    {% endfor %}
                </ul>

                <span>
                    Ir para o problema: <input onkeypress="if (event.keyCode == 13) location.href='problema/'+this.value;" type="text"></input>
                </span>
            </div>
        </div>
        {% endblock %}
    </body>
<
