<!DOCTYPE html>

{% load mathjax %}
{% load staticfiles %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" /> 
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'translation_portuguese/img/favicon.ico' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'translation_portuguese/css/style.css' %}" />
        <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <script type="text/javascript">
            {% block javascript %}{% endblock %}
        </script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>

