<!DOCTYPE html>

{% load mathjax %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" /> 
        <title>{% block title %}{% endblock %}</title>

        <!-- {% mathjax_scripts %} -->
        <link rel="stylesheet" type="text/css" href="https://projecteuler.net/themes/default/style_default.css" />
        <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <script type="text/javascript">
            {% block javascript %}{% endblock %}
        </script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>

