{% extends "translation_portuguese/base.html" %}

{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        {% block title %}{{ title }}{% endblock %}
    </head>

    <body>
        {% block content %}
        <div id="container">
            <div id="header" class="noprint">
                <div id="nav" class="noprint">
                    <ul>
                        <li>             <a href="{% url 'index' %}"      title="Sobre">    Sobre</a></li>
                        <li>             <a href="{% url 'archives' 1 %}" title="Problemas">Problemas</a></li>
                        <li>             <a href="{% url 'recents' %}"    title="Recentes"> Recentes</a></li>
                        <li id="current"><a href="{% url 'contribute' %}" title="Contribua">Contribua</a></li>
                    </ul>
                </div> <!-- Fim do nav -->                

                <div id="logo" class="noprint" style="background-image: url({% static 'translation_portuguese/img/pe_logo_default.png' %})">
                       <div>Project Euler<span>.net</span></div>
                </div> <!-- Fim da logo -->
            </div> <!-- Fim do header -->

            <div id="content">
                <div id="problems_table_page">
                    <h2>Contribua conosco!</h2>
                    <p>Ainda não temos todas as questões em português. Para isso, precisamos de sua ajuda! Clique em alguma questão abaixo que ainda está em inglês e submeta sua tradução. Você não precisa fazer nenhum cadastro, apenas submeta sua tradução, informe seu nome, e espere a aceitação.</p>

                    <div style="clear:both;"></div>
                    <br />

                    <table id="problems_table" class="grid">
                        <thead>
                            <tr>
                                <th class="id_column"><strong>ID</strong></th>
                                <th class="title_column">Descrição / Título</th>
                                <th class="translated_column"><strong>Traduzido</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for problem in problems %}
                            <tr>
                                <td class="id_column">{{ problem.number }}</td>
                                {% if problem.translated %}
                                <td><a href="">{{ problem.name }}</a></td>
                                <td class="translated_column">
                                        <div style="text-align:center;"><input type="checkbox" value="Translated" disabled checked></div>
                                {% else %}
                                <td><a href="{% url 'translate' problem.number %}">{{ problem.name }}</a></td>
                                <td class="translated_column">
                                        <div style="text-align:center;"><input type="checkbox" value="Translated" disabled></div>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br />

                    <div style="clear:both;"></div>
                </div> <!-- Fim de problems_table_page -->
            </div> <!-- Fim de content -->

            <div id="footer" class="noprint">
                <p>Project Euler pt-br<br />2016</p>
            </div> <!-- Fim do footer -->
        </div>
        {% endblock %}
    </body>
<
