{% extends "translation_portuguese/base.html" %}

{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        {% block title %}{{ title }}{% endblock %}
    </head>

    <body>
        {% block content %}
        <div id="container">
            <div id="header" class="noprint">
                <div id="nav" class="noprint">
                    <ul>
                        <li id="current"><a href="{% url 'index' %}" title="Sobre">Sobre</a></li>
                        <li><a href="{% url 'archives' 1 %}" title="Problemas">Problemas</a></li>
                        <li><a href="{% url 'recents' %}" title="Recentes">Recentes</a></li>
                    </ul>
                </div> <!-- Fim do nav -->                

                <div id="logo" class="noprint" style="background-image: url({% static 'translation_portuguese/img/pe_logo_default.png' %})">
                       <div>Project Euler<span>.net</span></div>
                </div> <!-- Fim da logo -->
            </div> <!-- Fim do header -->

            <div id="content">
                <div id="about_page">
                    <h2>Sobre o Project Euler</h2>

                    <img src="{% static 'translation_portuguese/img/euler_portrait.png' %}" alt="Leonhard Euler (1707-1783)" style="margin:10px;float:right;" />

                    <h3>O que é o Project Euler?</h3>
                    <p>O Project Euler é uma série de problemas matemáticos e computacionais desafiadores que
                    irão exigir mais do que idéias matemáticas para resolve-los. Embora a matemática o ajude a
                    encontrar métodos elegantes e eficientes, o uso de habilidades de um computador e de
                    habilidade de programação será necessário para resolver a maioria dos problemas.</p>
                    <p>A motivação para iniciar o Project Euler, assim como continua-lo, é fornecer uma
                    plataforma para a mente curiosa mergulhar em áreas desconhecidas e aprender novos conceitos
                    em um contexto recreativo e divertido.</p>

                    <h3>A quem os problemas são destinados?</h3>
                    <p>O público-alvo inclui estudantes para os quais o currículo básico não satisfaz sua fome
                    de aprender, adultos cuja a base não era principalmente a matemática mas que têm interesse
                    em coisas matemáticas, e profissionais que querem manter sua resolução de problemas e
                    matemática afiadas.</p>

                    <h3>Qualquer um pode resolver os problemas?</h3>
                    <p>Os problemas variam em dificuldade e para muitos a experiência é a aprendizagem em cadeia
                    indutiva. Ou seja, através da resolução de um problema, você será exposto a um conceito que
                    lhe permitirá compreender um problema previamente inacessível. Então, o participante
                    determinado será mais vagaroso mas certamente trabalhará seu modo de resolução através de
                    cada problema.</p>

                    <h3>E agora?</h3>
                    <p>Se você já tem uma conta então <a href="https://projecteuler.net/sign_in">entre</a> nela. Caso contrário, se <a href="https://projecteuler.net/register">registre</a> - isto é completamente grátis!</p>
                    <p>Contudo, como os problemas são um desafio, você pode querer
                    <a href="https://projecteuler.net/problems">vê-los</a> antes de se registrar.</p>

                    <p style="text-align:center;font-size:125%;font-style:italic;color:#999;">Project Euler existe para encorajar, desafiar, e desenvolver habilidades e a apreciação de qualquer um com interesse no fascinante mundo da matemática.</p>
                </div>
            </div> <!-- Fim do content -->

            <div id="footer" class="noprint">
                <p>Project Euler pt-br<br />2016</p>
            </div> <!-- Fim do footer -->
        </div> <!-- Fim do container -->
        {% endblock %}
    </body>
</html>
