{% extends "translation_portuguese/base.html" %}

{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        {% block title %}{{ title }}{% endblock %}
    </head>

    <body>
        {% block content %}
        <div id="container">
            <div id="header" class="noprint">
                <div id="nav" class="noprint">
                    <ul>
                        <li><a href="{% url 'index' %}" title="Sobre">Sobre</a></li>
                        <li id="current"><a href="{% url 'archives' 1 %}" title="Problemas">Problemas</a></li>
                        <li><a href="{% url 'recents' %}" title="Recentes">Recentes</a></li>
                    </ul>
                </div> <!-- Fim do nav -->                

                <div id="logo" class="noprint" style="background-image: url({% static 'translation_portuguese/img/pe_logo_default.png' %})">
                       <div>Project Euler<span>.net</span></div>
                </div> <!-- Fim da logo -->
            </div> <!-- Fim do header -->

            <div id="content">
            <table id="show_problem_table" class="noprint">
                <tr>
                    {% if previous_problem %}
                    <td>
                        <div id="previous_problem">
                            <a href="{% url 'problem' previous_problem.number %}" class="info">
                                <span>Go to problem {{ previous_problem.number }}:<br />&quot;{{ previous_problem.name }}&quot;</span>
                                <img src="{% static 'translation_portuguese/img/icon_back_solved.png' %}" alt="Previous" />
                            </a>
                        </div>
                    </td>
                    {% endif %}
                    {% if next_problem %}
                    <td>
                        <div id="next_problem">
                            <a href="{% url 'problem' next_problem.number %}" class="info">
                                <span>Go to problem {{ next_problem.number }}:<br />&quot;{{ next_problem.name }}&quot;</span>
                                <img src="{% static 'translation_portuguese/img/icon_next_solved.png' %}" alt="Next" />
                            </a>
                        </div>
                    </td>
                {% endif %}
                </tr>
            </table>

                <div style="text-align:center;" class="print">
                    <img src="images/print_page_logo.png" alt="projecteuler.net" style="border:none;" />
                </div>

                <h2>{{ current_problem.name }}</h2>

                <div id="problem_info" class="info">
                    <h3>Problema {{ current_problem.number }}</h3>
                    <span>Solved by {{ current_problem.solved_by }}; Difficulty rating: {{ current_problem.difficulty }}%</span>
                </div>

                <div class="problem_content" role="problem">
                    <p>{{ current_problem.enunciation | safe }}</p>
                </div>
                
                <br />
                <br />
            </div> <!-- Fim de content -->

            <div id="footer" class="noprint">
                <p>Project Euler pt-br<br />2016</p>
            </div> <!-- Fim do footer -->
        </div>
        {% endblock %}
    </body>
<
